{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Available Services</h2>
    <form method="GET" action="{% url 'available_services' %}">
        <div class="form-group">
            <label for="occupation">Select Occupation</label>
            <select class="form-control" id="occupation" name="occupation" onchange="this.form.submit()">
                <option value="">All Occupations</option>
                {% for occupation in occupations %}
                    <option value="{{ occupation }}" {% if request.GET.occupation == occupation %}selected{% endif %}>{{ occupation }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
    <div class="row">
        {% for service in services %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ service.featured_image.url }}" class="card-img-top" alt="{{ service.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.title }}</h5>
                        <p class="card-text">{{ service.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
